<section
  id="inicio"
  class="hero-section relative h-[calc(100vh-96px)] mt-[96px] flex items-center justify-center text-center overflow-hidden"
>
  <div
    class="absolute inset-0 bg-cover bg-cover bg-no-repeat"
    style="background-image: url('assets/images/banner.jpg')"
  ></div>
  <div class="absolute inset-0 hero-overlay"></div>

  <div class="relative z-10 px-4 md:px-6 max-w-4xl hero-content">
    <h1
      class="hero-title text-3xl md:text-5xl lg:text-7xl font-bold mb-4 md:mb-6 leading-tight"
    >
      Tu empresa en <span class="text-[#C4AD0F]">EE.UU.</span><br />
      Bajo control, desde cualquier país
    </h1>
    <p
      class="hero-subtitle text-white text-base md:text-lg lg:text-2xl mb-6 md:mb-8 opacity-90 px-2 md:px-0"
    >
      Aseguramos el cumplimiento fiscal de tu empresa en EE.UU. para que te
      dediques a su crecimiento. Asesoría 100% online.
    </p>
    <button
      class="hero-cta bg-[#C4AD0F] text-white px-8 md:px-10 py-3 md:py-4 rounded-full text-base md:text-lg hover:opacity-90 transition-all duration-300 shadow-2xl"
    >
      Comenzar Ahora
    </button>
  </div>
</section>
